<component name="ArtifactManager">
  <artifact type="exploded-war" name="SpringCloud-03-Consmer-dept-Feign-80:war exploded">
    <output-path>$PROJECT_DIR$/SpringCloud-03-Consmer-dept-Feign-80/target/SpringCloud-03-Consmer-dept-Feign-80</output-path>
    <properties id="maven-jee-properties">
      <options>
        <exploded>true</exploded>
        <module>SpringCloud-03-Consmer-dept-Feign-80</module>
        <packaging>war</packaging>
      </options>
    </properties>
    <root id="root">
      <element id="directory" name="WEB-INF">
        <element id="directory" name="classes">
          <element id="module-output" name="SpringCloud-03-Consmer-dept-Feign-80" />
        </element>
        <element id="directory" name="lib">
          <element id="library" level="project" name="Maven: junit:junit:unknown" />
        </element>
      </element>
      <element id="directory" name="META-INF">
        <element id="file-copy" path="$PROJECT_DIR$/SpringCloud-03-Consmer-dept-Feign-80/target/SpringCloud-03-Consmer-dept-Feign-80/META-INF/MANIFEST.MF" />
      </element>
      <element id="javaee-facet-resources" facet="SpringCloud-03-Consmer-dept-Feign-80/web/Web" />
    </root>
  </artifact>
</component>